.container-header{
    position: relative;
}

.header {
    margin-top: 48px;
    &__nav-top {
        display: flex;
        justify-content: space-between;
    }

    &__nav-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 488px;
    }

    &__nav-company {
        max-width: 227px;
        font-size: 12px;
        font-family: Gotham Pro Regular;
    }

    &__nav-registration {
        width: 296px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__phone {
        font-family: Gotham Pro Medium;
        font-size: 16px;
        font-weight: 700px;
        color: black;
        transition: all .3s;
        &:hover{
            color: $bg-blue-button;
        }
    }

    &__btn {
        @extend %button;
        padding: 16px 32px;
    }

    &__nav-footer {
        display: flex;
        justify-content: space-between;
        width: 560px;
        margin-top: 48px;
    }

    &__nav-link {
        @extend %subtitle;
        font-family: Gotham Pro Bold;
        color: $nav-color;
        transition: all .3s ;
        &:hover{
            color: $bg-blue-button;
        }

    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
        padding-right: 77px;        
    }
    
    &__inner-text {
        max-width: 733px;
    }

    &__title {
        font-size: $fs-h1;
        font-family: Gotham Pro Bold;
        font-weight: 700;
        line-height: 55px;
    }
    
    &__description {
        @extend %description;
        max-width: 545px;
        margin: 16px 0 48px 0;
    }
    
    &__inner-img {
        width: max-content;
        position: relative;
        &::before {
                content: url(../../images/header/circle2.svg);
                position: absolute;
                top: -76px;
                right: 67px;
                width: 145px;
                height: 145px;
            }
    }

    &__bottom {
        width: 740px;
        background-color: $bg-blocks;
        border-radius: 10px;
        box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
        padding: 32px 48px;
        position: absolute;
        right: 0;
        bottom: -57px;

    }
    
    &__list {
        display: flex;
        gap: 32px;
        align-items: center;
    }
    
     &__list-item {
       max-width: 224px;
     }
    
     &__list-text {
        @extend %subtitle;
        margin-top: 8px;
     }
}    

.container {
    max-width: 90%;
    margin: auto;
}

  .logo-header {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -136px;
        left: -96px;
        width: 474px;
        height: 474px;
        background: rgb(205, 187, 239);
        border-radius: 50% 50%;
        opacity: .25;
        filter: blur(40px);
        z-index: -2;
      }
      
  }
  .logo{
    img { transition: all .2s ease-in;}
    
        &:hover>img {
            transform: scale(1.02);
        }
  }
  
