
        // BACKGRAUND
        
$bg-main: #F4F7FA;
$bg-blocks: #fff;
$bg-blocks-linner-gradient: linear-gradient(200.16deg, rgb(255, 255, 255) 7.477%, rgb(244, 249, 255) 79.249%);
$bg-blue-button:#273895;

        // COLOR

$title-black:#262626;
$text-white:#FFF;
$text-black: #404040;

$nav-color: #000;

        // FONTSIZE

$fs-h1:48px;
$fs-title: 32px;
$fs-subtitle: 16px;
$fs-buttons: 16px;
$fs-description:14px;

$fs-nav: 16px;




    